*.elc
/amx-items
/auto-save-list
/bookmarks
/custom.el
/eglot-eclipse-jdt-cache
/eln-cache
/elpa
/elpy
/eshell
/games
/network-security.data
/package-quickstart.el
/projects
/pyim
/recentf
/semanticdb
/server
/snippets
/tramp
/transient
/url
