*.elc
/auto-save-list
/bookmarks
/custom.el
/eglot-eclipse-jdt-cache
/eln-cache
/elpa
/elpy
/eshell
/games
/network-security.data
/package-quickstart.el
/projectile-bookmarks.eld
/projects
/pyim
/recentf
/semanticdb
/tramp
/transient
/url
