*.elc
*~
/.org-id-locations
/amx-items
/auto-save-list
/bookmarks
/custom.el
/eglot-eclipse-jdt-cache
/eln-cache
/elpa
/elpy
/eshell
/forge-database.sqlite
/games
/lib/lib-autoload.el
/network-security.data
/org-roam.db
/package-quickstart.el
/projectile-bookmarks.eld
/projects
/pyim
/recentf
/save
/semanticdb
/server
/snippets
/tramp
/transient
/url
/workspaces
